* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1140px;

}

.top {
  height: 768px;
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__box {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.top-heading {
  width: 510px;
  font-size: 64px;
  color: #1f3f68;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.top-info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.top-button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.what-we-do {
  margin: 0 auto;
  margin-top: 64px;
  max-width: 1140px;
}
.card-link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.cont-us-h2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}
.h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}
.h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}
.input-box {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.contact-button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.top-info-text {
  width: 425px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  padding-bottom: 64px;
}
.card-item {
  width: 359px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 44px 32px;
  display: flex;
  flex-direction: column;
}

.card-img {
  align-self: center;
  margin-bottom: 51px;
}

.picture {
  display: flex;
  flex-direction: column;
  margin-bottom: 51px;
}

.image_bg {
position: relative;
align-self: top;
}

.card2 {
  position: absolute;
  align-self: center;
  padding-top: 43.61px;
}

.project-paragraph {
  width: 75%;
  margin: 32px auto 64px;
  opacity: 1;
  text-align: center;
  color: #222222;
}

.project {
}

.project-item {
  position: relative;
  flex-grow: 1;
  margin-right: 32px;
}

.project-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  position: relative;
}

.project-img {
  width: 100%;
}

.project-text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project-text-lower {
  font-size: 28px;
  text-align: start;
  left: 32px;
  top: 32px;
}

.footer {
  height: 657px;
  left: 0px;
  top: 2716px;
  background: #316099;
  margin-top: 112px;
}

.h3-footer {
color: #FFFFFF;
max-width: 340px;
margin-bottom: 32px;
}

.paragraph-footer {
  color: #FFFFFF;
  opacity: 0.6;
  width:  495px;
  margin-bottom: 160px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  margin-left: 113px;
}

.footer-link {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  background: #5A98D0;
  padding: 15px 80.67px 15px 79.59px;
  text-decoration: none;
  margin-right: 114px;
  align-self: center;
}

.link-talk {
  color: #FFFFFF;
}

.paragraph-rights {
  color: #FFFFFF;
  opacity: 0.4;
  margin-left: 13px;
  margin-top: 64px;
}
.footer-rights {
  margin-bottom: 64px;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  margin-left: 13px;
  list-style-type: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 64px;
}

.form-content {
  display: flex;
  justify-content: space-between;
}
